body {
    background-color: white;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    color: blue;
}

p {
    color: black;
}

p {
    background-color: grey;
}

#Header {
    width: 100%;
    height: 100vh;
    background-image: url(img/background.webp);
    background-size: cover;
    background-position: center;
}